/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Customer Account ========================================================= */

.my-account .page-title + .pager { margin-top: 0; }
.my-account .title-buttons .link-rss { float:none; margin:0; }

/********** < Dashboard */
.dashboard {}
.dashboard .welcome-msg {}

/* Block: Recent Orders */
.dashboard .box-recent { margin:10px 0; }

/* Block: Account Information */
.dashboard .box-info {}

/* Block: Reviews */
.dashboard .box-reviews .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#ddd; }
.dashboard .box-reviews .details { margin-left:20px; }

/* Block: Tags */
.dashboard .box-tags .number { float:left; font-size:10px; font-weight:bold; line-height:1; color:#fff; margin:3px -20px 0 0; padding:2px 3px; background:#ddd; }
.dashboard .box-tags .details { margin-left:20px; }
/********** Dashboard > */

/* Address Book */
.addresses-list {}
.addresses-list-additional li.item {}

/* Order View */
.order-info { border:1px solid #ddd; padding:5px; }
.order-info dt,
.order-info dd,
.order-info ul,
.order-info li { display:inline; }
.order-info dt { font-weight:bold; }

.order-date { margin:10px 0; }

.order-info-box {}

.order-items { width:100%; overflow-x:auto; }

.order-additional { margin:15px 0; }
/* Order Gift Message */
.gift-message dt strong { color:#666; }
.gift-message dd { font-size:13px; margin:5px 0 0; }
/* Order Comments */
.order-about dt { font-weight:bold; }
.order-about dd { font-size:13px; margin:0 0 7px; }

.tracking-table { margin:0 0 15px; }
.tracking-table th { font-weight:bold; white-space:nowrap; }

.tracking-table-popup { width:100%; }
.tracking-table-popup th { font-weight:bold; white-space:nowrap; }
.tracking-table-popup th,
.tracking-table-popup td { padding:1px 8px; }

/* Order Print Pages */
.page-print .print-head {}
.page-print .print-head img { float:left; }
.page-print .print-head address { float:left; margin-left:15px; }
/* Price Rewrites */
.page-print .gift-message-link { display:none; }
.page-print .price-excl-tax,
.page-print .price-incl-tax { display:block; white-space:nowrap; }
.page-print .cart-price,
.page-print .price-excl-tax .label,
.page-print .price-incl-tax .label,
.page-print .price-excl-tax .price,
.page-print .price-incl-tax .price { display:inline; }

/* My Reviews */
.product-review .product-img-box { float:left; width:140px;  }
.product-review .product-img-box .product-image { display:block; width:125px; height:125px; }
.product-review .product-img-box .label { font-size:11px; margin:0 0 3px; }
.product-review .product-img-box .ratings .rating-box { float:none; display:block; margin:0 0 3px; }
.product-review .product-details { margin-left:150px; }
.product-review .product-name { font-size:16px; font-weight:bold; margin:0 0 10px; }
.product-review h3 {}
.product-review .ratings-table { margin:0 0 10px; }
.product-review dt { font-weight:bold; }
.product-review dd { font-size:13px; margin:5px 0 0; }
