/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Login ==================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.account-login {
    h2 {
        .heading2();
    }
    p {
        line-height: @baseLineHeight;
    }
}
.new-users {
    width: 46% !important;
}
.registered-users {
    width: 46% !important;
    h2 + p {
        display: none;
    }
}