src/api.php
src/app/code
src/app/design/adminhtml
src/app/design/frontend/base
src/app/design/frontend/default
src/app/design/install
src/app/etc
src/app/locale
src/app/Mage.php
src/app/.htaccess
src/cron.php
src/cron.sh
src/downloader
src/errors
src/favicon.ico
src/get.php
src/.htaccess
src/.htaccess.sample
src/includes
src/index.php
src/index.php.sample
src/install.php
src/js
src/lib
src/LICENSE_AFL.txt
src/LICENSE.html
src/LICENSE.txt
src/mage
src/media
src/php.ini.sample
src/pkginfo
src/RELEASE_NOTES.txt
src/shell
src/skin/adminhtml
src/skin/frontend/base
src/skin/frontend/default
src/skin/install
src/var
