src/api.php

!src/app
src/app/*

!src/app/code
src/app/code/*
!src/app/code/local
!src/app/code/community
src/app/code/community/*
!src/app/code/community/Soczed


!src/app/design
src/app/design/*
!src/app/design/frontend
src/app/design/frontend/*
!src/app/design/frontend/cleartheme


!src/app/design/adminhtml
src/app/design/adminhtml/*
!src/app/design/adminhtml/default
src/app/design/adminhtml/default/*
!src/app/design/adminhtml/default/default
src/app/design/adminhtml/default/default/*
!src/app/design/adminhtml/default/default/layout
src/app/design/adminhtml/default/default/layout/*
!src/app/design/adminhtml/default/default/layout/soczed
!src/app/design/adminhtml/default/default/template
src/app/design/adminhtml/default/default/template/*
!src/app/design/adminhtml/default/default/template/soczed


!src/app/etc/
src/app/etc/*
!src/app/etc/modules
src/app/etc/modules/*
!src/app/etc/modules/
!src/app/etc/modules/Cleartheme_Customer.xml
!src/app/etc/modules/Soczed_Less.xml


!src/app/locale
src/app/locale/*
!src/app/locale/fr_FR
src/app/locale/fr_FR/*
!src/app/locale/fr_FR/Soczed_Less.csv

src/app/Mage.php
src/app/.htaccess
src/cron.php
src/cron.sh
src/downloader
src/errors
src/favicon.ico
src/get.php
src/.htaccess
src/.htaccess.sample
src/includes
src/index.php
src/index.php.sample
src/install.php
src/js

!src/lib
src/lib/*
!src/lib/Soczed

src/LICENSE_AFL.txt
src/LICENSE.html
src/LICENSE.txt
src/mage
src/media
src/php.ini.sample
src/pkginfo
src/RELEASE_NOTES.txt
src/shell
src/skin/adminhtml
src/skin/frontend/base
src/skin/frontend/default
src/skin/frontend/cleartheme/default/css/*/*.css
src/skin/install
src/var
