/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Product View ============================================================= */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.product-view {
}
.product-essential {
    margin: 0 0 @spacing;
}

/* Product Images */
.product-view .product-img-box {
    float: left;
    width: 258px;
}
.product-view .product-img-box .product-image {
    margin: 0 0 @spacing/2;
    border: 1px solid @lineColor;
}
.product-view .product-img-box .more-views ul {
}
.product-view .product-img-box .more-views li {
    float: left;
    margin: 0 0 0 @spacing/4;
}
.product-view .product-img-box .more-views li:first-child {
    margin-left: 0;
}
.product-view .product-img-box .more-views a {
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid @lineColor;
    &:hover img,
    &:focus img {
        opacity: 0.7;
    }
}
.product-view .product-img-box .more-views img {
    display: block;
    .transition();
}

/* Product Shop */
.product-view .product-shop {
    float: right;
    width: 438px;
}
.col1-layout .product-view .product-shop {
    float: right; 
    width: 700px;
}
.product-view .product-shop .product-name {
    font-size: @baseFontSize+2;
    font-weight: 600;
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .short-description {
    line-height: @baseLineHeight;
}
.product-view .product-shop .email-friend {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .alert-price {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .alert-stock {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .availability {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .price-box {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .add-to-box {
    margin: 0 0 @spacing/4;
}
.product-view .product-shop .short-description {
    margin: 0 0 @spacing/4;
}

/* Add to Cart */
.add-to-cart {
    margin: 0 0 @spacing/4;
}
.add-to-cart label {
    display: inline-block;
}
.add-to-cart .qty {
    display: inline-block;
    margin: 0 @spacing/4;
}
.add-to-cart button.button {
    .btn-general();
}

/* Add to Links */
.add-to-links {
}
.add-to-links li {
    display: inline;
}
.add-to-links .separator {

}

/* Add to Links + Add to Cart */
.add-to-box {
}
.add-to-box .add-to-cart {
}
.add-to-box .or {
    display: none;
}
.add-to-box .add-to-links {
}

/* Product Collateral */
.product-collateral {
}
.box-collateral {
    margin: 0 0 @spacing;
}
.box-collateral:last-of-type {
    margin-bottom: 0;
}
.box-collateral h2 {
    font-weight: 600;
    margin: 0 0 @spacing/4;
}

.box-description {
    line-height: @baseLineHeight;
}

.box-up-sell {
}
.box-up-sell .products-grid {
    border: 0;
}
.box-up-sell .products-grid td {
    width: 25%;
    padding: 0 @spacing/2 0 0;
}
.box-up-sell .products-grid td.last {
    padding-right: 0;
}
.box-up-sell .products-grid .product-image {
    width: 125px;
    height: 125px;
}
.box-up-sell .products-grid .ratings {
    margin-bottom: 0;
}
.box-up-sell .products-grid .ratings .rating-box {
    float: none;
    margin: 0 0 @spacing/4;
}

.box-tags {
}
.box-tags h3 {
    margin: 0 0 @spacing/4;
}
.box-tags ul {
    margin: 0 0 @spacing/2;
}
.box-tags li {
    display: inline;
    margin: 0 @spacing/4 0 0;
}
.box-tags form {
    margin: 0 0 @spacing/4;
}
.box-tags label {
    display: inline-block;
}
.box-tags .input-box {
    display: inline-block;
    margin: 0 @spacing/4;
}
.box-tags .button {
    .btn-general();
}

/* Product Options */
.product-options {
    margin: 0 0 @spacing/4;
    padding: @spacing/4;
    border: 1px solid @lineColor;
}
.product-options dt {
}
.product-options dt label {
    font-weight: 600;
}
.product-options dd {
    margin: @spacing/4 0 @spacing/2;
}
.product-options dl.last dd.last {
    margin-bottom: 0;
}
.product-options dd .qty-holder {
    display: block;
    line-height: @baseLineHeight;
}
.product-options dd .qty-holder label {
}
.product-options dd .qty-disabled {
    color: @baseFontColor;
    font-size: @baseFontSize;
    border: 0;
    background: none;
}
.product-options dd input.input-text {
    width: 98%;
}
.product-options dd input.datetime-picker {
    width: 150px;
}
.product-options dd .time-picker {
    display: inline-block;
}
.product-options dd textarea {
    width: 98%;
    height: 8em;
}
.product-options dd select {
    width: 100%;
}
.product-options .options-list {
}
.product-options .options-list li {
    margin: @spacing/4 0;
}
.product-options ul.validation-failed {
}
.product-options p.required {
    margin: @spacing/4 0 0;
}

.product-options-bottom {
    padding: @spacing/4;
    border: 1px solid @lineColor;
}
.product-options-bottom .price-box {
    margin: 0 0 @spacing/4;
}

/* Send a Friend */
.send-friend {}


/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    cursor: move;
    background-color: #fff;
}

/* This is for the title text. */
.cloud-zoom-title {
    position: absolute !important;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;	
    padding: 3px;
    background: #000;
}

/* This is the zoom window. */
.cloud-zoom-big {
    overflow: hidden;
    border: 1px solid @lineColor;
}

/* This is the loading message. */
.cloud-zoom-loading {
    color: #fff;	
    padding: 3px;
    background: #222;
    border: 1px solid #000;
}

