/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Product List ============================================================= */

.category-title { border:0; margin:0 0 7px; }
.category-image { width:100%; overflow:hidden; margin:0 0 10px; text-align:center; }
.category-image img {}
.category-description { margin:0 0 10px; }
.category-products {}

/* Advanced Search */
.advanced-search {}
.advanced-search-amount {}
.advanced-search-summary {}

/* Toolbar */
.toolbar {}
.toolbar .pager {}
.toolbar .sorter {}
.toolbar-bottom {}

/* Pager */
.toolbar .pager { border:1px solid #ddd; padding:5px; margin:5px 0; text-align:center; }
.toolbar .pager .amount { float:left; }
.toolbar .pager .limiter { float:right; }
.toolbar .pager .pages { margin:0 135px; }
.toolbar .pager .pages ol { display:inline; }
.toolbar .pager .pages li { display:inline; }
.toolbar .pager .pages .current {}

/* Sorter */
.toolbar .sorter { border:1px solid #ddd; padding:5px; margin:5px 0; }
.toolbar .sorter .view-mode { float:left; }
.toolbar .sorter .sort-by { float:right; }
.toolbar .sorter .link-feed {}

/* View Type: Grid */
.products-grid { border-bottom:1px solid #ddd; position:relative; }
.products-grid.last { border-bottom:0; }
.products-grid li.item { float:left; width:138px; padding:12px 10px 80px; }
.products-grid .product-image { display:block; width:135px; height:135px; margin:0 0 10px; }
.products-grid .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; }
.products-grid .product-name a {}
.products-grid .price-box { margin:5px 0; }
.products-grid .availability { line-height:21px; }
.products-grid .actions { position:absolute; bottom:12px; }
.col2-left-layout .products-grid,
.col2-right-layout .products-grid { width:632px; margin:0 auto; }
.col1-layout .products-grid { width:790px; margin:0 auto; }

/* View Type: List */
.products-list li.item { border-bottom:1px solid #ddd; padding:12px 10px; }
.products-list li.item.last { border-bottom:0; }
.products-list .product-image { float:left; width:135px; height:135px; margin:0 0 10px; }
.products-list .product-shop { margin-left:150px; }
.products-list .product-name { margin:0 0 5px; font-weight:bold; font-size:13px; }
.products-list .product-name a {}
.products-list .price-box { float:left; margin:3px 13px 5px 0; }
.products-list .availability { float:left; margin:3px 0 0; }
.products-list .desc { clear:both; padding:6px 0 0; margin:0 0 15px; line-height:1.35; }
.products-list .desc .link-learn { font-size:11px; }
.products-list .add-to-links { clear:both; }
.products-list .add-to-links li { display:inline; }
.products-list .add-to-links .separator { display:inline; margin:0 2px; }
