/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Product List ============================================================= */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.category-title {
}
.category-image {
}
.category-image img {
    display: block;
    margin: 0 auto;
}
.category-description {
}
.category-products {
}

/* Advanced Search */
.advanced-search {
}
.advanced-search-amount {
}
.advanced-search-summary {
}

/* Toolbar */
.toolbar {
    line-height: 25px;
    border-top: 1px solid @lineColor;
    border-bottom: 1px solid @lineColor;
}
.toolbar-bottom {
}

/* Pager */
.toolbar .pager {
    text-align: center;
    margin: 5px 0;
}
.toolbar .pager .amount {
    float: left;
}
.toolbar .pager .limiter {
    float: right;
}
.toolbar .pager .pages {
    margin: 0 auto;
}
.toolbar .pager .pages ol {
    display: inline;
}
.toolbar .pager .pages li {
    display: inline;
}
.toolbar .pager .pages .current {
}
.toolbar .pager .next:hover,
.toolbar .pager .next:focus,
.toolbar .pager .previous:hover,
.toolbar .pager .previous:focus {
    opacity: 0.6;
}

/* View Mode */
.view-mode {
    position: relative;
    top: 6px;
    float: left;
    width: 38px;
    height: 13px;
}
.view-mode label {
    display: none;
}
.view-mode a,
.view-mode strong {
    position: absolute;
    width: 16px;
    height: 13px;
    text-indent: -9999px;
    background: url('../../images/i_toolbar-view-mode.png') no-repeat 0 0;
}
.view-mode a:hover,
.view-mode a:focus {
    opacity: 0.7;
}
.view-mode a.grid {
    left: 0;
    background-position: 0 0;
}
.view-mode strong.grid {
    left: 0;
    opacity: 0.5;
    background-position: 0 0;
}
.view-mode a.list {
    right: 0;
    background-position: 0 100%;
}
.view-mode strong.list {
    right: 0;
    opacity: 0.5;
    background-position: 0 100%;
}

/* Sorter */
.toolbar .sorter {
    margin: 5px 0;
    padding: 5px 0 0;
    border-top: 1px solid @lineColor;
}
.toolbar .sorter .sort-by {
    float: right;
}
.toolbar .sorter .sort-by a:hover,
.toolbar .sorter .sort-by a:focus {
    opacity: 0.6;
}

/* Generic Styles: Applies for GRID and LIST */

.category-products .product-name a {

    &:hover,
    &:focus {
    }
}
.category-products .availability {
}

/* View Type: Grid */
.products-grid {
    position: relative;
    border-bottom: 1px solid @lineColor;
}
.products-grid.last {
    border-bottom: 0;
}
.products-grid li.item {
    float: left;
    width: 140px;
    padding: @spacing/2 @spacing/4 100px; // The 100px is the height =)
}
.products-grid .product-image {
    display: block;
    width: 135px;
    height: 135px;
    margin: 0 0 @spacing/4;
}
.products-grid .product-name {
    margin: 0 0 @spacing/4;
}
.products-grid .price-box {
}
.products-grid .actions {
    position: absolute;
    bottom: @spacing/2; // SAME AS .products-grid li.item PADDING-TOP
}
.products-grid .btn-cart {
    .btn-general();
}
.products-grid .add-to-links {
}
.products-grid .add-to-links li {
}


/* View Type: List */
.products-list li.item {
    padding: @spacing 0;
    border-bottom: 1px solid @lineColor;
}
.products-list li.item.last {
    border-bottom: 0;
}
.products-list .product-image {
    float: left;
    width: 135px;
    height: 135px;
}
.products-list .product-image img {
    display: block;
}
.products-list .product-shop {
    margin-left: round((@spacing/2)+135); // 135 because product-image width
}
.products-list .product-name {
    margin: 0 0 @spacing/4;
}
.products-list .price-box {
    margin: 0 0 @spacing/4;
}
.products-list .price-box + p { // This is the .btn-cart wrapper -.-'
    margin: 0 0 @spacing/4;
}
.products-list .btn-cart {
    .btn-general();
}
.products-list .desc {
    line-height: @baseLineHeight;
    margin: 0 0 @spacing/4;
}
.products-list .desc .link-learn:before { // this simulate a line-break
    content: ' ';
    display: block;
}
.products-list .desc .link-learn {
}
.products-list .add-to-links {
}
.products-list .add-to-links li {
    display: inline;
}
.products-list .add-to-links .separator {
    display: inline;
}
