/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Blocks =================================================================== */
   @import '../less/global.less';
   @spacing: (@baseSpacing - 10);
/* ========================================================================== */

/* Block: Generic */
.block {
    margin: 0 0 @spacing;
}
.block:last-of-type {
    margin-bottom: 0;
}
.block a {
    color: @linkColor;
}
.block a:hover,
.block a:focus {
    color: @linkColorHover;
}
.block .block-title {
    font-size: @baseFontSize+2;
    font-weight: 600;
    margin: 0 0 @spacing/4;
}
.block .block-title strong {
}
.block .block-content {
}
.block .empty {
}

/* Block: Account */
.block-account {
}
.block-account li {
    margin: 0 0 @spacing/4;
}
.block-account li.last {
    margin: 0;
}

/* Block: Currency Switcher */
.block-currency {
}
.block-currency select {
}

/* Block: Layered Navigation */
.block-layered-nav {
}
.block-layered-nav .block-subtitle {
    margin: 0 0 @spacing;
}
.block-layered-nav dt {
    font-weight: 600;
    margin: @spacing/2 0;
}
.block-layered-nav dd {
    margin: 0 0 @spacing;
}
.block-layered-nav dd li {
    margin: @spacing/4 0;
}
.block-layered-nav dd.last,
.block-layered-nav dd.last li {
    margin-bottom: 0;
}

/* Block: Layered Navigation Filter */
.block-layered-nav .currently {
}
.block-layered-nav .currently li {
    position: relative;
    margin: @spacing/2 0;
    padding: 0 0 0 @spacing/2;
}
.block-layered-nav .currently .label {
}
.block-layered-nav .currently .value {
}
.block-layered-nav .btn-remove {
    position: absolute;
    top: 0;
    left: 0;
}
.block-layered-nav .actions {
    margin: 0 0 @spacing;
}

/* 
    Mini Product List
    Used for: .block-cart, .block-wishlist and .block-related
*/
.mini-products-list li {
    margin: 0 0 @spacing/2;
}
.mini-products-list li.last {
    margin: 0;
}
.mini-products-list .btn-remove {
    display: inline-block;
}
.mini-products-list .btn-edit {
    display: inline-block;
    margin: 0 0 0 10px;
}
.mini-products-list .product-image {
    float: left;
    width: 50px;
    height: 50px;
}
.mini-products-list .product-image img {
    display: block;
}
.mini-products-list .product-details {
    padding: 0 0 0 round((@spacing/2)+50); // 50 because the product-image width
}

/* Block: Cart */
.block-cart {
}
.block-cart .button {
    .btn-general();
}
.block-cart .summary {
    margin: 0 0 @spacing/4;
}
.block-cart .actions {
    margin: 0 0 @spacing/2;
}
.block-cart .block-subtitle {
    margin: 0 0 @spacing/2;
}

/* Block: Wishlist */
.block-wishlist {
}
.block-wishlist .block-subtitle {
    margin: 0 0 @spacing/2;
}
.block-wishlist ol {
    margin: 0 0 @spacing/2;
}


/* Block: Related */
.block-related {
}
.block-related .block-subtitle {
    margin: 0 0 @spacing/2;
}
.block-related .block-subtitle a:before { // this simulate a line-break
    content: ' ';
    display: block;
}
.block-related input.checkbox {
    float: left;
}
.block-related .product {
    overflow: hidden;
    margin-left: 20px;
}

/* Block: Compare Products */
.block-compare {
}
.block-compare li {
    position: relative;
    margin: @spacing/2 0;
    padding: 0 0 0 15px;
}
.block-compare .btn-remove {
    position: absolute;
    top: 0;
    left: 0;
}
.block-compare .actions a {
    float: right;
    margin-top: 5px;
}
.block-compare .button {
    .btn-general();
}

/* Block: Recently Viewed */
.block-viewed {
}
.block-viewed li {
    margin: 0 0 @spacing/4;
}
.block-viewed li.last {
    margin: 0;
}

/* Block: Recently Compared */
.block-compared {
}
.block-compared li {
    margin: 0 0 @spacing/4;
}
.block-compared li.last {
    margin: 0;
}

/* Block: Poll */
.block-poll {
}
.block-poll .block-subtitle {
    margin: 0 0 @spacing/2;
}
.block-poll li {
    margin: 0 0 @spacing/2;
}
.block-poll .label {
}
.block-poll .actions {
}
.block-poll .button {
    .btn-general();
}
.block-poll .answer {
    font-weight: 600;
}
.block-poll .votes {
    float: right;
    margin-left: 10px;
}

/* Block: Tags */
.block-tags ul,
.block-tags li {
    display: inline;
}

/* Block: Subscribe */
.block-subscribe {
}

/* Block: Reorder */
.block-reorder {
}
.block-reorder .block-subtitle {
    margin: 0 0 @spacing/2;
}
.block-reorder ol {
    margin: 0 0 @spacing/2;
}
.block-reorder li {
    margin: 0 0 @spacing/4;
}
.block-reorder li.last {
    margin: 0;
}
.block-reorder .checkbox {
    float: left;
}
.block-reorder .button {
    .btn-general();
}
.block-reorder .actions a {
    margin: 0 0 0 @spacing/2;
}

/* Block: Subscribe */
.block-subscribe {
}
.block-subscribe .button {
    .btn-general();
}