/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Footer =================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.footer-container {
    margin: @spacing/2 0 0;
    padding: @spacing/2;
    background: #fff;
}
.footer {
    line-height: @baseLineHeight;
}
.footer a {
    color: @linkColorHover;
    &:hover,
    &focus {
        color: @linkColor;
    }
}
.footer p {
}
.footer ul {
}
.footer ul li {
    display: inline;
    margin-right: 5px;
}
