/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Form ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

input,
select,
textarea {
    color: lighten(@baseFontColor, 20%);
    font-size: @baseFontSize;
    .sans();
    /*vertical-align: middle; */
    outline: 0 !important;
}
input.input-text,
select,
textarea {
    .transition();
    background: #fff;
    border: 1px solid lighten(@baseFontColor, 50%);
    &:focus {
        border-color: #ec1c25;
    }
}
input.input-text,
textarea { 
    padding: 4px;
}
select {
    padding: 1px;
}
select option {
    padding-right: 10px;
}
select.multiselect option {
    padding: 2px 5px;
    border-bottom: 1px solid #ddd;
}
select.multiselect option:last-child {
    border-bottom: 0;
}
textarea {
    overflow: auto;
}
input.radio {
    margin: 0 3px 0 0;
    vertical-align: bottom;
}
input.checkbox {
    margin: 0 3px 0 0;
    vertical-align: bottom;
}
input.qty {
    width: 2em !important;
    padding: 1px 0;
    text-align: center;
}
p.control input.checkbox,
p.control input.radio {
    margin-right: 6px;
}
button.button::-moz-focus-inner { // FF Fix
    padding: 0; 
    border: 0;
} 
.button { // Safari & Google Chrome Fix
    -webkit-border-fit: lines;
}
.button {
    border: 0; 
    padding: 0; 
    margin: 0; 
    background: transparent; 
    overflow: visible; 
    cursor: pointer; 
}
.button span {
    cursor: pointer;
    display: block;
}
.button span span {
    white-space: nowrap;
}
.disabled {
    opacity: 0.5;
    cursor: default !important;
}
.disabled span {
    cursor: default !important;
}

// Form lists
.form-list {
    li {
        margin: 0 0 16px;
    }
    label {
        float: left;
        position: relative;
        z-index: 0;
        color: lighten(@baseFontColor, 10%);
        font-weight: @fontWeightNormal;
        padding: 0 0 4px;
    }
    label.required {
        em {
            float: right;
            font-style: normal;
            color: #eb340a;
            position: absolute;
            top: 0;
            right: -8px;
        }
    }
    li.control {
        label {
            float: none;
        }
        input.radio,
        input.checkbox {
            position: relative;
            top: 2px;
            margin: 1px 6px 1px 1px;
        }
        .input-box {
            clear: none;
            display: inline;
            width: auto;
        }
    }
    .input-box {
        display: block;
        clear: both;
        width: 260px;
    }
    .field {
        float: left;
        width: 275px;
    }
    input.input-text {
        width: 254px;
    }
    textarea {
        width: 254px;
        height: 10em;
    }
    select {
        width: 264px;
        padding: 3px;
    }
    li.wide {
        .input-box {
            width: 535px;
        }
        input.input-text {
            width: 529px;
        }
        textarea {
            width: 529px;
        }
        select {
            width: 535px;
        }
    }
    li.additional-row {
        margin-top: 10px;
        padding-top: 7px;
        border-top: 1px solid @lineColor;
        .btn-remove {
            float: right;
            margin: 5px 0 0;
        }
    }
    .input-range input.input-text {
        width: 74px;
    }

    // Customer
    .customer-name-prefix .input-box,
    .customer-name-suffix .input-box,
    .customer-name-prefix-suffix .input-box,
    .customer-name-prefix-middlename .input-box,
    .customer-name-middlename-suffix .input-box,
    .customer-name-prefix-middlename-suffix .input-box {
        width: auto;
    }
    .name-prefix {
        width: 65px;
        select {
            width: 55px;
        }
        input.input-text {
            width: 49px;
        }
    }
    .name-suffix {
        width: 65px;
        select {
            width: 55px;
        }
        input.input-text {
            width: 49px;
        }
    }
    .name-middlename {
        width: 70px;
        input.input-text {
            width: 49px;
        }
    }
    .customer-name-prefix-middlename-suffix .name-firstname,
    .customer-name-prefix-middlename .name-firstname {
        width: 140px;
        input.input-text {
            width: 124px;
        }
    }
    .customer-name-prefix-middlename-suffix .name-lastname {
        width: 205px;
        input.input-text {
            width: 189px;
        }
    }
    .customer-name-prefix-suffix .name-firstname {
        width: 210px;
        input.input-text {
            width: 189px;
        }
    }
    .customer-name-prefix-suffix .name-lastname {
        width: 205px;
        input.input-text {
            width: 189px;
        }
    }
    .customer-name-prefix .name-firstname,
    .customer-name-middlename .name-firstname {
        width: 210px;
    }
    .customer-name-suffix .name-lastname,
    .customer-name-middlename .name-firstname,
    .customer-name-middlename-suffix .name-firstname,
    .customer-name-middlename-suffix .name-lastname {
        width: 205px;
    }
    .customer-name-prefix .name-firstname input.input-text,
    .customer-name-suffix .name-lastname input.input-text,
    .customer-name-middlename .name-firstname input.input-text,
    .customer-name-middlename-suffix .name-firstname input.input-text,
    .customer-name-middlename-suffix .name-lastname input.input-text {
        width: 189px;
    }
    // DOB
    .customer-dob {
        .dob-month,
        .dob-day,
        .dob-year {
            float: left;
            width: 85px;
        }
        input.input-text {
            display: block;
            width: 74px;
        }
        label {
            color: lighten(@baseFontColor, 30%);
            font-size: 10px;
            font-weight: @fontWeightNormal;
            padding: 2px 0 0 0;
        }
        .dob-day,
        .dob-month {
            width: 60px;
            input.input-text {
                width: 36px;
            }
        }
        .dob-year {
            width: 140px;
            input.input-text {
                width: 72px;
            }
        }
    }
}

.fieldset + .fieldset {
    margin: @spacing 0 0;
}
.buttons-set {
    clear: both;
    margin: @spacing 0 0;
    padding: @buttonsSetSpacing 0 0;
    border-top: 1px solid @lineColor;

    .back-link,
    .forgot-password-link {
        float: right;
    }
    .back-link small {
        display: none;
    }
    .f-left {
        float: right;
    }
    .button {
        float: left;
        .btn-general();
    }
    p.required {
        margin: 0 0 10px;
    }
}

// Form Validation
.validation-advice {
    clear: both;
    color: #f00;
    font-size: 10px;
    line-height: 14px;
}
.validation-failed {
    border: 1px solid #f00 !important;
    background: #faebe7 !important;
}
.validation-passed {
}
p.required {
    color: #f00 !important;
    font-size: 10px;
    font-weight: @fontWeightBold;
    font-style: italic;
    //text-align: right;
}

// Expiration date and CVV number validation fix
.v-fix {
    float: left;
    .validation-advice {
        display: block;
        width: 12em;
        margin-right: -12em;
        position: relative;
    }
}