/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Header =================================================================== */

.logo { float:left; }
.header-container {}
.header { padding:10px; border:1px solid #ddd; }
.header .logo { float:left; text-decoration:none !important; }
.header .logo strong { position:absolute; top:-999em; left:-999em; width:0; height:0; font-size:0; line-height:0; text-indent:-999em; overflow:hidden; }
.header h1.logo { margin:0; padding:0; }
.header .welcome-msg { font-weight:bold; text-align:right; }
.header .welcome-msg a {}
.header .links { float:right; }
.header .links li { display:inline; }
.header .form-search { text-align:right; }
.header .form-search .search-autocomplete { z-index:999; }
.header .form-search .search-autocomplete ul { border:1px solid #ddd; background-color:#fff; }
.header .form-search .search-autocomplete li { padding:3px; border-bottom:1px solid #ddd; cursor:pointer; }
.header .form-search .search-autocomplete li .amount { float:right; font-weight:bold; }
.header .form-search .search-autocomplete li.selected {}
.header .form-language { clear:both; text-align:right; }
.header-container .top-container { clear:both; text-align:right; }
