/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* General Pager ============================================================ */

.my-account .pager,
.box-reviews .pager,
.page-sitemap .pager {
    margin: 10px 0;
    padding: 5px 20px; 
    background: #f9f9f9;
    border:1px solid #ddd;
}

.my-account .pager .limiter,
.box-reviews .pager .limiter,
.page-sitemap .pager .limiter {
}

.my-account .pager .pages,
.box-reviews .pager .pages,
.page-sitemap .pager .pages {
    margin: 0 135px; 
    text-align: center; 
    line-height: 20px;
}

.my-account .pager select,
.box-reviews .pager select,
.page-sitemap .pager select {
    padding: 0;
    margin-bottom: 1px;
}

.my-account .pager .amount,
.box-reviews .pager .amount,
.page-sitemap .pager .amount {
    float: left; 
    padding: 0; 
    line-height: 20px;
}

.my-account .pager .amount strong,
.box-reviews .pager .amount strong,
.page-sitemap .pager .amount strong {
    font-weight: normal;
}

.my-account .pager .limiter,
.box-reviews .pager .limiter,
.page-sitemap .pager .limiter {
    float: right; 
    line-height: 20px;
}

.my-account .pager ol,
.box-reviews .pager ol,
.page-sitemap .pager ol {
    display: inline; 
    padding: 0 2px;
}

.my-account .pager li,
.box-reviews .pager li,
.page-sitemap .pager li {
    display: inline; 
    padding: 0 2px;
}

.my-account .pager .pages .current,
.box-reviews .pager .pages .current,
.page-sitemap .pager .pages .current {
    font-weight: bold;
}
