/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Page ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

// Tools | TODO: remove if possible.
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }

// General
html {
    background: @baseBackground;
}
body {
    color: @baseFontColor;
    font-size: @baseFontSize;
    font-family: @serifFontFamily;
}
a {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    .transition();
}
::selection {
    color: #fff;
    background: @color1; 
}
::-moz-selection {
    color: #fff;
    background: @color1;
}

// Layout
.wrapper {
}
.page {
}
.page-print {
    padding: 20px;
}
.page-empty {
    padding: 20px;
}
.page-popup {
    padding: 20px;
}
.main-container {
    background: #fff;
}
.main {
    width: @pageWidth;
    margin: 0 auto;
    padding: @spacing/2 0;
    .clearfix();
}

// Base Columns
.col-left {
    float: left;
    width: 224px;
}
.col-main {
    float: left;
    width: 716px;
}
.col-right {
    float: right;
    width: 224px;
}

// 1 Column Layout
.col1-layout .col-main {
    float: none;
    width: auto;
}

// 2 Columns Layout
.col2-left-layout .col-main {
    float: right;
}
.col2-right-layout .col-main {
}

// 3 Columns Layout
.col3-layout {
    .col-main {
        width: 480px;
    }
    .col-wrapper {
        float: left;
        width: 720px;
        .clearfix();
        .col-main {
            float: right;
        }
    }
}

// Content Columns
.col2-set {
    .clearfix();
    .col-1 {
        float: left;
        width: 49%;
    }
    .col-2 {
        float: right;
        width: 49%;
    }
    .col-narrow {
        width: 33%;
    }
    .col-wide {
        width: 65%;
    }
}
.col3-set {
    .clearfix();
    .col-1 {
        float: left;
        width: 32%;
    }
    .col-2 {
        float: left;
        width: 32%;
        margin-left: 2%;
    }
    .col-3 {
        float: right;
        width: 32%;
    }
}
.col4-set {
    .clearfix();
    .col-1 {
        float: left;
        width: 23.5%;
    }
    .col-2 {
        float: left;
        width: 23.5%;
        margin: 0 2%;
    }
    .col-3 {
        float: left;
        width: 23.5%;
    }
    .col-4 {
        float: right;
        width: 23.5%;
    }
}

// Global Messages
.success {
    color: #3d6611; 
    font-weight: @fontWeightBold;
}
.error {
    color: #f00;
    font-weight: @fontWeightBold;
}
.notice {
    color: #ccc;
}
.messages {
    width: 100%; 
    .clearfix();

    li {
        margin: 0 0 20px;
        li {
            margin: 0;
        }
    }
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    font-size: (@baseFontSize)-1 !important;
    font-weight: @fontWeightBold !important;
    background-position: 10px 50% !important; 
    background-repeat: no-repeat !important; 
    padding: 10px 10px 10px 36px !important; 
    margin: 10px 0 20px;
}
.error-msg {
    color: #df280a;
    background-color: #faebe7; 
    background-image: url('../../images/i_msg-error.gif'); 
}
.success-msg {
    color: #3d6611;
    background-color: #eff5ea;
    background-image: url('../../images/i_msg-success.gif');
}
.note-msg,
.notice-msg {
    color: #3d6611;
    background-color: #fafaec; 
    background-image: url('../../images/i_msg-note.gif');
}

// Breadcrumbs
.breadcrumbs {
    margin: 0 0 15px;

    li {
        display: inline;
    }
    a {
        color: @linkColor;
        &:hover,
        &:focus {
            color: @linkColorHover;
        }
    }
}

// Page Heading
.page-title {
    margin: 0 0 25px;
    h1,
    h2 {    
        .heading1();
    }
    .separator {
    }
    .link-rss {
        float: right;
    }
}
.title-buttons {
    text-align: right;
    .clearfix();
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        float: left;
    }
}

.subtitle,
.sub-title,
.fieldset .legend {
    .heading2();
}

// Links
.col-main a {
    color: @linkColor;
    &:hover,
    &:focus {
        color: @linkColorHover;
    }
}

// Data Table
.data-table {
    width: 100%;

    th {
        font-weight: @fontWeightBold;
        text-align: left;
        white-space: nowrap;
        padding: @spacing/8;
        border: 1px solid @tableLineColor;
    }
    td {
        padding:  @spacing/8;
        vertical-align: top;
        border: 1px solid @tableLineColor;
    }
    thead {
        background: @tableHeadBackground;
    }
    tbody {
    }
    tfoot {
    }
    th .tax-flag {
        font-weight: @fontWeightBold;
        white-space: nowrap;
    }
    td.label,
    th.label {
        font-weight: @fontWeightBold;
        background: @tableHeadBackground;
    }
    td.value {
    }
}

// Misc
.link-print {
    padding: 2px 0 2px 25px;
    background: url('../../images/i_print.gif') no-repeat 0 50%;
}
.link-rss {
    white-space: nowrap; 
    padding-left: 18px; 
    background: url('../../images/i_rss.gif') no-repeat 0 50%;
}
.btn-remove {
    .mask(11px, 11px);
    background: url('../../images/btn_remove.gif') no-repeat 0 0;
    &:hover,
    &:focus {
        opacity: 0.6;
    }
}
.btn-remove2 {
    .mask(16px, 16px);
    background: url('../../images/btn_trash.gif') no-repeat 0 0;
    &:hover,
    &:focus {
        opacity: 0.6;
    }
}
.btn-edit {
    .mask(11px, 11px);
    background: url('../../images/btn_edit.gif') no-repeat 0 0;
    &:hover,
    &:focus {
        opacity: 0.6;
    }
}
.separator {
    color: lighten(@baseFontColor, 50%);
    font-size: 90%;
    margin: 0 3px;    
}

// Important Notice
.noscript,
.demo-notice,
.notice-cookie {
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: @baseLineHeight;
    padding: 10px 60px;
    background: #ffff90;
    border-bottom: 1px solid #ccc;
}
.notice-cookie a {
    color: @linkColor;
    &:hover,
    &:focus {
        color: @linkColorHover;
    }
}
.notice-cookie .button {
    .btn-general();
    margin-top: 5px;
}

// Tooltip
.tooltip {
    display: none;
    width: 200px;
    color: @baseFontColor;
    line-height: @baseLineHeight;
    padding: @spacing/2;
    margin: -10px 0 0;
    background: @baseBackground;
    border: 1px solid @lineColor;
}

// Overlay
.overlay {
    z-index: 10000;
    display: none;
    width: 264px;
    min-height: 200px;
    padding: @spacing;
    background: #f6f6f6;
    border: 1px solid @lineColor;

    a {
        color: @linkColor;
        &:hover,
        &:focus {
            color: @linkColorHover;
        }
    }
    .close {
        display: none;
        /*
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        height: 11px;
        width: 11px;
        display: block;
        background: url('../../images/btn_remove.gif') no-repeat 0 0;
        */
    }
}

// Mini Login Overlay Styles
.mini-login-overlay {
    p {
        .heading2();
    }
}

// Captcha
.captcha {
}
.captcha-note {
}
.captcha-image {
    float: left;
    position: relative;
}
.captcha-img {
    border: 1px solid @lineColor;
}
.captcha-reload {
    position: absolute;
    top: 2px;
    right: 2px;
}
.captcha-reload.refreshing {
    -webkit-animation: rotate 1.5s infinite linear;
       -moz-animation: rotate 1.5s infinite linear; 
            animation: rotate 1.5s infinite linear;
}
@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}