/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Page ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

/* Tools ==================================================================== */
// Todo: remove this "tools" if possible :S
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
//.v-top        { vertical-align:top; }
//.v-middle     { vertical-align:middle; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
//.no-margin    { margin:0 !important; }
//.no-padding   { padding:0 !important; }
//.no-bg        { background:none !important; }


/* Layout =================================================================== */
html {
    background: #f3f3f3;
}
body {
    color: @baseFontColor;
    font-size: @baseFontSize;
    .serif();
}
a {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    .transition();
}
::selection {
    color: #fff;
    background: #ec1c25; 
}
::-moz-selection {
    color: #fff;
    background: #ec1c25;
}

.wrapper {
}
.page {
    width: 1000px;
    margin: 0 auto;
}
.page-print {
    padding: 20px;
}
.page-empty {
    padding: 20px;
}
.page-popup {
    padding: 20px;
}
.main-container {
}
.main {
    padding: 20px;
    background: #fff;
}

/* Base Columns */
.col-left {
    float: left;
    width: 224px;
}
.col-main {
    float: left;
    width: 716px;
}
.col-right {
    float: right;
    width: 224px;
}

/* 1 Column Layout */
.col1-layout .col-main {
    float: none;
    width: auto;
}

/* 2 Columns Layout */
.col2-left-layout .col-main {
    float: right;
}
.col2-right-layout .col-main {
}

/* 3 Columns Layout */
.col3-layout .col-main {
    width: 480px;
}
.col3-layout .col-wrapper {
    float: left;
    width: 720px;
}
.col3-layout .col-wrapper .col-main {
    float: right;
}

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }


/* Global Styles ============================================================ */

/* Global Messages  */
.success {
    color: #3d6611; 
    font-weight: 600;
}
.error {
    color: #f00;
    font-weight: 600;
}
.notice {
    color: #ccc;
}
.messages,
.messages ul {
    list-style:none !important; 
    margin: 0 !important; 
    padding: 0 !important;
}
.messages {
    width: 100%; 
    overflow: hidden;
}
.messages li {
    margin: 0 0 20px;
}
.messages li li {
    margin: 0;
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    font-size: 11px !important;
    font-weight: 600 !important;
    background-position: 10px 50% !important; 
    background-repeat: no-repeat !important; 
    padding: 10px 10px 10px 36px !important; 
    margin: 10px 0 20px;
}
.error-msg {
    color: #df280a;
    background-color: #faebe7; 
    background-image: url('../../images/i_msg-error.gif'); 
}
.success-msg {
    color: #3d6611;
    background-color: #eff5ea;
    background-image: url('../../images/i_msg-success.gif');
}
.note-msg,
.notice-msg {
    color: #3d6611;
    background-color: #fafaec; 
    background-image: url('../../images/i_msg-note.gif');
}

/* BreadCrumbs */
.breadcrumbs {
    margin: 0 0 15px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}

/* Page Heading */
.page-title {
    margin: 0 0 25px;
}
.page-title h1,
.page-title h2 {    
    .heading1();
}
.page-title .separator {
}
.page-title .link-rss {
    float: right;
}
.title-buttons {
    text-align: right;
}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {
    float: left;
}

.subtitle,
.sub-title,
.fieldset .legend {
    .heading2();
}

/* Links */
.col-main a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}

/* Data Table */
.data-table {
    width: 100%;
}
.data-table th {
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    padding: @spacing/8;
    border: 1px solid @tableLineColor;
}
.data-table td {
    padding:  @spacing/8;
    vertical-align: top;
    border: 1px solid @tableLineColor;
}
.data-table thead {
    background: @tableHeadBkg;
}
.data-table tbody {
}
.data-table tfoot {
}
.data-table th .tax-flag {
    font-weight: 400;
    white-space: nowrap;
}
.data-table td.label,
.data-table th.label {
    font-weight: 600;
    background: @tableHeadBkg;
}
.data-table td.value {
}

/* Misc */
.link-print {
    padding: 2px 0 2px 25px;
    background: url('../../images/i_print.gif') no-repeat 0 50%;
}
.link-rss {
    white-space: nowrap; 
    padding-left: 18px; 
    background: url('../../images/i_rss.gif') no-repeat 0 50%;
}
.btn-remove {
    display: block;
    width: 11px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url('../../images/btn_remove.gif') no-repeat 0 0;
    overflow: hidden;
}
.btn-remove:hover,
.btn-remove:focus {
    opacity: 0.6;
}

.btn-remove2 {
    .mask(16px, 16px);
    background: url('../../images/btn_trash.gif') no-repeat 0 0;
}
.btn-remove2:hover,
.btn-remove2:focus {
    opacity: 0.6;
}

.btn-edit {
    .mask(11px, 11px);
    background: url('../../images/btn_edit.gif') no-repeat 0 0;
}
.btn-edit:hover,
.btn-edit:focus {
    opacity: 0.6;
}

.separator {
    color: lighten(@baseFontColor, 50%);
    font-size: 90%;
    margin: 0 3px;    
}

/* Important Notice */
.noscript,
.demo-notice,
.notice-cookie {
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: @baseLineHeight;
    padding: 10px 60px;
    background: #ffff90;
    border-bottom: 1px solid #ccc;
}
.notice-cookie a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}
.notice-cookie .button {
    .btn-general();
    margin-top: 5px;
}

/* Tooltip */
.tooltip {
    display: none;
    width: 200px;
    color: @baseFontColor;
    line-height: @baseLineHeight;
    padding: @spacing/2;
    margin: -10px 0 0;
    background: #f6f6f6;
    border: 1px solid @lineColor;
}
/* >> 
    // This styles can be removed but first need to validate this file:
    // app/design/frontend/base/default/template/authorizenet/directpost/form.phtml
    // and use the above tooltip css and js.
    .tool-tip {
        position: absolute;
        z-index:9999;
        color: @baseFontColor;
        padding: @spacing/2;
        background: #f6f6f6;
        border: 1px solid @lineColor;
    }
    .tool-tip .btn-close { text-align:right; }
    .tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:15px; height:15px; background:url('../../images/btn_window_close.gif') 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
    .tool-tip .tool-tip-content { padding:5px; }
<< */

/* Overlay */
.overlay {
    z-index: 10000;
    display: none;
    width: 264px;
    min-height: 200px;
    padding: @spacing;
    background: #f6f6f6;
    border: 1px solid @lineColor;
}
.overlay a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}
.overlay .close {
    display: none;
    /*
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 11px;
    width: 11px;
    display: block;
    background: url('../../images/btn_remove.gif') no-repeat 0 0;
    */
}

/* Mini Login Overlay Custom Styles */
.mini-login-overlay {
}
.mini-login-overlay > p {
    .heading2();
}

/* Captcha */
.captcha-note {
}
.captcha-image {
    float: left;
    position: relative;
}
.captcha-img {
    border: 1px solid #ccc;
}
.captcha-reload {
    position: absolute;
    top: 2px;
    right: 2px;
}
.captcha-reload.refreshing {
    -webkit-animation: rotate 1.5s infinite linear;
       -moz-animation: rotate 1.5s infinite linear; 
            animation: rotate 1.5s infinite linear;
}
@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}