/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Page ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

/* Tools ==================================================================== */
// Todo: remove this "tools" if possible :S
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
//.v-top        { vertical-align:top; }
//.v-middle     { vertical-align:middle; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
//.no-margin    { margin:0 !important; }
//.no-padding   { padding:0 !important; }
//.no-bg        { background:none !important; }


/* Layout =================================================================== */
html {
    background: #f3f3f3;
}
body {
    color: @baseFontColor;
    font-size: @baseFontSize;
    .serif();
}
a {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    .transition();
}
::selection {
    color: #fff;
    background: #ec1c25; 
}
::-moz-selection {
    color: #fff;
    background: #ec1c25;
}

.wrapper {
}
.page {
    width: 1000px;
    margin: 0 auto;
}
.page-print {
    padding: 20px;
}
.page-empty {
    padding: 20px;
}
.page-popup {
    padding: 20px;
}
.main-container {
}
.main {
    padding: 20px;
    background: #fff;
}

/* Base Columns */
.col-left {
    float: left;
    width: 224px;
}
.col-main {
    float: left;
    width: 716px;
}
.col-right {
    float: right;
    width: 224px;
}

/* 1 Column Layout */
.col1-layout .col-main {
    float: none;
    width: auto;
}

/* 2 Columns Layout */
.col2-left-layout .col-main {
    float: right;
}
.col2-right-layout .col-main {
}

/* 3 Columns Layout */
.col3-layout .col-main {
    width: 480px;
}
.col3-layout .col-wrapper {
    float: left;
    width: 720px;
}
.col3-layout .col-wrapper .col-main {
    float: right;
}

/* Content Columns */
.col2-set .col-1 { float:left; width:49%; }
.col2-set .col-2 { float:right; width:49%; }
.col2-set .col-narrow { width:33%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }


/* Global Styles ============================================================ */

/* Global Messages  */
.success {
    color: #3d6611; 
    font-weight: 600;
}
.error {
    color: #f00;
    font-weight: 600;
}
.notice {
    color: #ccc;
}
.messages,
.messages ul {
    list-style:none !important; 
    margin: 0 !important; 
    padding: 0 !important;
}
.messages {
    width: 100%; 
    overflow: hidden;
}
.messages li {
    margin: 0 0 20px;
}
.messages li li {
    margin: 0;
}
.error-msg,
.success-msg,
.note-msg,
.notice-msg {
    font-size: 11px !important;
    font-weight: 600 !important;
    background-position: 10px 50% !important; 
    background-repeat: no-repeat !important; 
    padding: 10px 10px 10px 36px !important; 
    margin: 10px 0 20px;
}
.error-msg {
    color: #df280a;
    background-color: #faebe7; 
    background-image: url('../../images/i_msg-error.gif'); 
}
.success-msg {
    color: #3d6611;
    background-color: #eff5ea;
    background-image: url('../../images/i_msg-success.gif');
}
.note-msg,
.notice-msg {
    color: #3d6611;
    background-color: #fafaec; 
    background-image: url('../../images/i_msg-note.gif');
}

/* BreadCrumbs */
.breadcrumbs {
    margin: 0 0 15px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}

/* Page Heading */
.page-title {
    margin: 0 0 25px;
}
.page-title h1,
.page-title h2 {    
    .heading1();
}
.page-title .separator {
}
.page-title .link-rss {
    float: right;
}
.title-buttons {
    text-align: right;
}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {
    float: left;
}

.subtitle,
.sub-title,
.fieldset .legend {
    .heading2();
}

/* Links */
.col-main a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}

/* Data Table */
.data-table {
    width: 100%;
}
.data-table th {
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    padding: @spacing/8;
    border: 1px solid @tableLineColor;
}
.data-table td {
    padding:  @spacing/8;
    vertical-align: top;
    border: 1px solid @tableLineColor;
}
.data-table thead {
    background: @tableHeadBkg;
}
.data-table tbody {
}
.data-table tfoot {
}
.data-table th .tax-flag {
    font-weight: 400;
    white-space: nowrap;
}
.data-table td.label,
.data-table th.label {
    font-weight: 600;
    background: @tableHeadBkg;
}
.data-table td.value {
}

/* Misc */
.link-print {
    padding: 2px 0 2px 25px;
    background: url('../../images/i_print.gif') no-repeat 0 50%;
}
.link-rss {
    white-space: nowrap; 
    padding-left: 18px; 
    background: url('../../images/i_rss.gif') no-repeat 0 50%;
}
.btn-remove {
    display: block;
    width: 11px;
    height: 11px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url('../../images/btn_remove.gif') no-repeat 0 0;
    overflow: hidden;
}
.btn-remove:hover,
.btn-remove:focus {
    opacity: 0.6;
}

.btn-remove2 {
    .mask(16px, 16px);
    background: url('../../images/btn_trash.gif') no-repeat 0 0;
}
.btn-remove2:hover,
.btn-remove2:focus {
    opacity: 0.6;
}

.btn-edit {
    .mask(11px, 11px);
    background: url('../../images/btn_edit.gif') no-repeat 0 0;
}
.btn-edit:hover,
.btn-edit:focus {
    opacity: 0.6;
}

.cards-list dt {
    margin: 5px 0 0;
}
.cards-list .offset {
    padding: 2px 0 2px 20px;
}

.separator {
    color: lighten(@baseFontColor, 50%);
    font-size: 90%;
    margin: 0 3px;    
}

/* Important Notice */
.noscript,
.demo-notice,
.notice-cookie {
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: @baseLineHeight;
    padding: 10px 60px;
    background: #ffff90;
    border-bottom: 1px solid #ccc;
}
.notice-cookie a {
    color: @linkColor;
    &:hover,
    &focus {
        color: @linkColorHover;
    }
}
.notice-cookie .button {
    .btn-general();
    margin-top: 5px;
}

/* Product ================================================================== */

/* Rating */
.no-rating {
    margin: @spacing/4 0;
}
.ratings {
    margin: @spacing/4 0;
}
.ratings strong {
    float: left;
    margin: 1px 3px 0 0;
}
.ratings .rating-links {
    line-height: 16px;
}
.rating-box {
    .mask(69px, 13px);
    background: url('../../images/bkg_rating.gif') repeat-x 0 0;
}
.rating-box .rating {
    float: left;
    height: 13px;
    background: url('../../images/bkg_rating.gif') repeat-x 0 100%;
}
.ratings .rating-box {
    float: left;
    margin-right: 5px;
}
.ratings .amount {
    float: left;
    line-height: 16px;
}
.ratings-table th,
.ratings-table td {
    padding: 3px 0;
    vertical-align: middle;
    line-height: @baseLineHeight;
}
.ratings-table th {
    font-weight: 600;
    text-align: left;
    padding-right: 15px;
}

/* Availability */
.availability {}
.availability span { font-weight:600; }
.availability.in-stock span {}
.availability.out-of-stock span { color:#d83820; }

.availability-only { margin:0 0 7px; }
.availability-only a { background:url('../../images/i_availability_only_arrow.gif') 100% 0 no-repeat; cursor:pointer; padding-right:15px; }
.availability-only .expanded { background-position:100% -15px; }
.availability-only strong {}

.availability-only-details { margin:0 0 7px; }
.availability-only-details th { background:#f2f2f2; font-size:10px; padding:0 8px; }
.availability-only-details td { border-bottom:1px solid #ddd; font-size:11px; padding:2px 8px 1px; }
.availability-only-details tr.odd td.last {}

/* Options Tool Tip */
.item-options dt { font-weight:600; font-style:italic; }
.item-options dd { padding-left:10px; }
.truncated { cursor:help; }
.truncated a.dots { cursor:help; }
.truncated a.details { cursor:help; }
.truncated .truncated_full_value { position:relative; z-index:999; }
.truncated .truncated_full_value .item-options { position:absolute; top:-99999em; left:-99999em; z-index:999; width:250px; padding:8px; border:1px solid #ddd; background-color:#f6f6f6; }
.truncated .truncated_full_value .item-options > p { font-weight:600; text-transform:uppercase; }
.truncated .show .item-options { top:-20px; left:50%; }
.col-left .truncated .show .item-options { left:30px; top:7px; }
.col-right .truncated .show .item-options  { left:-240px; top:7px; }

/* Product Tags */
.tags-list li { display:inline; }


/* Checkout ================================================================= */

/* Shopping cart total summary row expandable to details */
tr.summary-total { cursor:pointer; }
tr.summary-total td {}
tr.summary-total .summary-collapse { float:right; text-align:right; padding-left:20px; background:url('../../images/bkg_collapse.gif') 0 4px no-repeat; cursor:pointer; }
tr.show-details .summary-collapse { background-position:0 -53px; }
tr.show-details td {}
tr.summary-details td { font-size:11px; background-color:#dae1e4; color:#626465; }
tr.summary-details-first td { border-top:1px solid #d2d8db; }
tr.summary-details-excluded { font-style:italic; }

/* Shopping cart tax info */
.cart-tax-info { display:block; }
.cart-tax-info,
.cart-tax-info .cart-price { padding-right:20px; }
.cart-tax-total { display:block; padding-right:20px; background:url('../../images/bkg_collapse.gif') 100% 4px no-repeat; cursor:pointer; }
.cart-tax-info .price,
.cart-tax-total .price { display:inline !important; font-weight:normal !important; }
.cart-tax-total-expanded { background-position:100% -53px; }

/* Shipping and Payment methods */
.sp-methods dt { font-weight:600; }
.sp-methods .price { font-weight:600; }
.sp-methods .form-list { padding-left:20px; }
.sp-methods select.month { width:150px; margin-right:10px; }
.sp-methods select.year { width:96px; }
.sp-methods input.cvv { width:3em !important; }

.sp-methods .checkmo-list li { margin:0 0 5px; }
.sp-methods .checkmo-list label { width:135px; padding-right:10px; text-align:right; }
.sp-methods .checkmo-list address { float:left; }

.sp-methods .centinel-logos a { margin-right:3px; }
.sp-methods .centinel-logos img { vertical-align:middle; }

.sp-methods .release-amounts { margin:0.5em 0 1em; }
.sp-methods .release-amounts button { float:left; margin:5px 10px 0 0; }

.please-wait { float:right; margin-right:5px; }
.please-wait img { vertical-align:middle; }
.cvv-what-is-this { cursor:help; margin-left:5px; }

/* Tooltip */
.tooltip {
    display: none;
    width: 200px;
    color: @baseFontColor;
    padding: @spacing/2;
    margin: -10px 0 0;
    background: #f6f6f6;
    border: 1px solid @lineColor;
}
.tool-tip {
    position: absolute;
    z-index:9999;
    color: @baseFontColor;
    padding: @spacing/2;
    background: #f6f6f6;
    border: 1px solid @lineColor;
}
.tool-tip .btn-close { text-align:right; }
.tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:15px; height:15px; background:url('../../images/btn_window_close.gif') 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
.tool-tip .tool-tip-content { padding:5px; }

/* Gift Messages */
.gift-messages {}
.gift-messages-form { border:1px solid #ddd; background-color:#f5f5f5; }
.gift-messages-form { position:relative; }
.gift-messages-form label { float:none !important; position:static !important; }
.gift-messages-form h4 {}
.gift-messages-form .whole-order {}
.gift-messages-form .item { margin:0 0 10px; }
.gift-messages-form .item .product-img-box { float:left; width:75px; }
.gift-messages-form .item .product-image { margin:0 0 7px; }
.gift-messages-form .item .number { margin:0; font-weight:600; text-align:center; }
.gift-messages-form .item .details { margin-left:90px; }
.gift-messages-form .item .details .product-name {}

.gift-message-link { display:block; background:url('../../images/bkg_collapse.gif') 0 4px no-repeat; padding-left:20px; }
.gift-message-link.expanded { background-position:0 -53px; }
.gift-message-row {}
.gift-message-row .btn-close { float:right; }
.gift-message dt strong { font-weight:600; }

/* Checkout Agreements */
.checkout-agreements {}
.checkout-agreements li { margin:10px 0; }
.checkout-agreements .agreement-content { border:1px solid #ddd; background-color:#f6f6f6; padding:5px; height:10em; overflow:auto; }
.checkout-agreements .agree { padding:6px; }

/* Centinel */
.centinel {}
.centinel .authentication { border:1px solid #ddd; background:#fff; }
.centinel .authentication iframe { width:99%; height:400px; background:transparent !important; margin:0 !important; padding:0 !important; border:0 !important; }

/* Captcha */
.captcha-note {
}
.captcha-image {
    float: left;
    position: relative;
}
.captcha-img {
    border: 1px solid #ccc;
}
.captcha-reload {
    position: absolute;
    top: 2px;
    right: 2px;
}
.captcha-reload.refreshing {
    -webkit-animation: rotate 1.5s infinite linear;
       -moz-animation: rotate 1.5s infinite linear; 
            animation: rotate 1.5s infinite linear;
}
@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(-360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(-360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(-360deg); }
}