/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Print Page =============================================================== */
   @import '../less/global.less';
   @spacing: (@baseSpacing/2);
/* ========================================================================== */

.page-print .print-head {
    margin: 0 0 @spacing;
}
.page-print h1 {
    .heading1();
}
.page-print .order-date {
    text-align: right;
    margin-top: -@baseFontSize;
}
.page-print h2:not(.h2),
.page-print .col2-set h3,
.page-print .col2-set + h3 {
    .heading2();
}
.page-print h2.h2 {
    .heading1();
}
.page-print .col2-set {
    margin: @spacing 0;
}
.page-print p,
.page-print address {
    line-height: @baseLineHeight;
}
.page-print .buttons-set {
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
}
.page-print .buttons-set .button {
    .btn-general();
}