/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Button =================================================================== */

.btn-general (@background: #ec1c25) {
    font-size: (@baseFontSize)+2; 
    font-family: @serifFontFamily;

    span {
    }
    span span {
        color: #fff;
        font-weight: @fontWeightBold;
        padding: 4px 9px;
        background: @background;
        .transition();
    }

    &:hover span,
    &:focus span {
    }
    &:hover span span,
    &:focus span span {
        background: darken(@background, 20%);
    }

    &:active span {
    }
    &:active span span {
        background: darken(@background, 30%);
    }
}

.btn-simple (@background: #4082BC) {
    color: #fff;
    font-size: @baseFontSize; 
    font-family: @serifFontFamily;
    font-weight: @fontWeightBold;
    padding: 2px 4px;
    background: @background;
    .transition();

    &:hover,
    &:focus {
        color: #fff;
        background: darken(@background, 20%);
    }
    &:active {
        background: darken(@background, 30%);
    }
}