/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Global Less Definitions ================================================== */

@linkColor: #ec1c25;
@linkColorHover: darken(@linkColor, 20%);
@lineColor: #4082BC;
@baseFontColor: #3d3d3d;
@baseFontSize: 12px;
@baseLineHeight: 1.4;
@baseSpacing: 40px;
@buttonsSetPadding: 10px;

/* Transition */
.transition (@duration: 200ms, @ease: ease-in, @delay: 0ms) {
    -webkit-transition: all @duration @ease @delay;
       -moz-transition: all @duration @ease @delay;
        -ms-transition: all @duration @ease @delay;
         -o-transition: all @duration @ease @delay;
            transition: all @duration @ease @delay;
}

/* Fonts */
.serif () {
    font-family: Arial, serif;
}
.sans-serif () {
    font-family: 'Times New Roman', sans-serif;
}

/* Title */
.heading2 () {
    clear: both;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid @lineColor;
}
.heading3 () {
    clear: both;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 8px;
}

/* ========================================================================== */
   @import 'button.less';
/* ========================================================================== */