/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Cart ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.cart {
}
.page-title {
    .checkout-types {
        float: right;
        text-align: right;
    }
    .button {
        .btn-general();
    }
}

// Shopping Cart Table
.cart-table {
    .product-name {
        margin: 0 0 @spacing/8;
    }
    tfoot .a-right {
        text-align: center !important;
    }
}
.btn-continue {
    float: left;
    .btn-simple();
}
.btn-update {
    float: right;
    .btn-simple();
}
.btn-empty {
    .btn-simple();
}

.cart-collaterals {
    padding: 25px 0 0;
    .col2-set {
        float: left;
        width: 700px;
    }
}

// Shopping Cart Totals
.totals {
    float: right;
    width: 220px;

    table {
        width: 100%;
    }
    td,
    th {
        padding: 5px 0;
        text-align: left !important;
    }
    .price {
        display: block;
        font-weight: @fontWeightBold;
        text-align: right;
    }
    tbody td {
        font-size: @baseFontSize;
    }
    tfoot td {
        font-weight: @fontWeightBold;
        font-size: @baseFontSize+5;
    }
    .checkout-types {
        text-align: right;
        li {
            margin: @spacing/4 0;
        }
    }
}
.btn-proceed-checkout {
    .btn-general();
}

// Cross Sells
.crosssell {
    h2 {
        font-size: @baseFontSize+2;
        font-weight: @fontWeightBold;
    }
    .product-image {
        float: left;
        width: 75px;
        height: 75px;
        border: 1px solid @lineColor;
        img {
            display: block;
        }
    }
    .product-details {
        margin-left: 90px;
    }
    li.item {
        margin: @spacing/2 0;
    }
    li.last {
        margin-bottom: 0;
    }
    .product-name {
        margin: 0 0 @spacing/8;
    }
    .price-box {
        margin: 0 0 @spacing/8;
    }
    .btn-cart {
        .btn-simple();
    }
    .add-to-links {
        margin: @spacing/8 0 0;
        li {
            display: inline;
        }
    }
}

// Discount Codes Box */ 
.discount {
    margin: 0 0 @spacing;

    h2 {
        .heading2();
    }
    label {
        display: block;
        line-height: @baseLineHeight;
        margin: 0 0 @spacing/4;
    }
    .input-box {
        display: inline-block;
    }
    .buttons-set-box {
        display: inline-block;
    }
    .button {
        .btn-simple();
    }
}

// Estimate Shipping and Tax Box
.shipping {
    h2 {
        .heading2();
    }
    p {
        line-height: @baseLineHeight;
        margin: 0 0 @spacing/4;
    }
    .form-list li {
        float: left;
        width: 33%;
        margin: 0;
    }
    .input-box {
        width: 100%;
        float: left;
        input {
            width: 96%;
        }
        select {
            width: 94%;
        }
    }
    .button {
        .btn-simple();
    }
}
#shipping-zip-form .buttons-set-box {
    margin: @spacing/4 0 @spacing/2;
}
#co-shipping-method-form {
    margin: @spacing 0 0;
    .buttons-set-box {
        margin: @spacing/4 0 0;
    }
}

// EMPTY Shopping Cart
.cart-empty p {
    line-height: @baseLineHeight;
    margin: 0 0 @spacing/4;
}