/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Cart ===================================================================== */
   @import '../less/global.less';
   @spacing: @baseSpacing;
/* ========================================================================== */

.cart {
}
.page-title {
}
.page-title .checkout-types {
    float: right;
    text-align: right;
}
.page-title .button {
    .btn-general();
}

.cart-table .product-name {
    margin: 0 0 @spacing/8;
}

.cart-table tfoot .a-right {
    text-align: center !important;
}
.btn-continue {
    float: left;
    .btn-simple();
}
.btn-update {
    float: right;
    .btn-simple();
}
.btn-empty {
    .btn-simple();
}

.cart .cart-collaterals {
    padding: 25px 0 0;
}
.cart .cart-collaterals .col2-set {
    float: left;
    width: 700px;
}

/* Cross Sells */
.crosssell {
}
.crosssell h2 {
    font-size: @baseFontSize+2;
    font-weight: 600;
}
.crosssell .product-image {
    float: left;
    width: 75px;
    height: 75px;
    border: 1px solid @lineColor;
}
.crosssell .product-details {
    margin-left: 90px;
}
.crosssell li.item {
    margin: @spacing/2 0;
}
.crosssell li.last {
    margin-bottom: 0;
}
.crosssell .product-name {
    margin: 0 0 @spacing/8;
}
.crosssell .price-box {
    margin: 0 0 @spacing/8;
}
.crosssell .btn-cart {
    .btn-simple();
}
.crosssell .add-to-links {
    margin: @spacing/8 0 0;
}
.crosssell .add-to-links li {
    display: inline;
}

/* Discount Codes Box */ 
.discount {
    margin: 0 0 @spacing;
}
.discount h2 {
    .heading2();
}
.discount label {
    display: block;
    line-height: @baseLineHeight;
    margin: 0 0 @spacing/4;
}
.discount .input-box {
    display: inline-block;
}
.discount .buttons-set-box {
    display: inline-block;
}
.discount .button {
    .btn-simple();
}

/* Estimate Shipping and Tax Box */
.shipping h2 {
    .heading2();
}
.shipping p {
    line-height: @baseLineHeight;
    margin: 0 0 @spacing/4;
}
.shipping .form-list li {
    float: left;
    width: 33%;
    margin: 0;
}
.shipping .input-box {
    width: auto!;
    float: left;
}
.shipping .input-box input {
    width: 30%;
}
.shipping .input-box select {
    width: 40%;
}
.shipping .button {
    .btn-simple();
}
#shipping-zip-form .buttons-set-box {
    margin: @spacing/4 0 @spacing/2;
}
#co-shipping-method-form {
    margin: @spacing 0 0;
}
#co-shipping-method-form .buttons-set-box {
    margin: @spacing/4 0 0;
}


/* Shopping Cart Totals */
.totals {
    float: right;
    width: 220px;
}
.totals table {
    width: 100%;
}
.totals td,
.totals th {
    padding: 5px 0;
    text-align: left !important;
}
.totals .price {
    display: block;
    font-weight: 600;
    text-align: right;
}
.totals tbody td {
    font-size: @baseFontSize;
}
.totals tfoot td {
    font-weight: 600;
    font-size: @baseFontSize+5;
}

.totals .checkout-types {
    text-align: right;
}
.totals .checkout-types li {
    margin: @spacing/4 0;
}
.btn-proceed-checkout {
    .btn-general();
}

/* EMPTY Shopping Cart */
.cart-empty p {
    line-height: @baseLineHeight;
    margin: 0 0 @spacing/4;
}