/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* One Page Checkout ======================================================== */

.block-progress {}
.block-progress dt { font-weight:bold; }
.block-progress dt.complete,
.block-progress dd.complete { background-color:#f6f6f6; }

.opc { border-bottom:1px solid #ddd; position:relative; }
.opc li.section { border:1px solid #ddd; border-bottom:0; }

.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }

.opc .step-title { background-color:#f6f6f6; padding:0 5px; text-align:right; }
.opc .step-title .number { float:left; line-height:22px; margin-right:5px; }
.opc .step-title h2 { float:left; }
.opc .step-title a { display:none; float:right; }

.opc .allow .step-title { cursor:pointer; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active {}
.opc .active .step-title { background-color:#ccc; cursor:default; }
/*.opc .active .step-title a { display:none; }*/

.opc .step { border-top:1px solid #ddd; padding:10px; position:relative; }
.opc .step .tool-tip { right:10px; }

.opc .order-review {}
.opc .order-review .authentication {}
.opc .order-review .warning-message {}

/* Multiple Addresses Checkout */
.checkout-progress { padding:0 50px; margin:10px 0; }
.checkout-progress li { float:left; width:20%; border-top:5px solid #ccc; text-align:center; color:#ccc; }
.checkout-progress li.active { border-top-color:#000; color:#000; }

.multiple-checkout { position:relative; }
.multiple-checkout .tool-tip { top:50%; margin-top:-120px; right:10px; }
.multiple-checkout .grand-total { font-size:1.5em; text-align:right; }
.multiple-checkout .grand-total big {}
.multiple-checkout .grand-total .price {}
