/**
 *
 * ClearTheme Community Edition
 *
 */

/* ========================================================================== */
/* Guest Form =============================================================== */
   @import '../less/global.less';
/* ========================================================================== */

.breadcrumbs {
    display: none;
}

.form-alt li {
    color: #666;
    padding: 0 0 10px;
    overflow: hidden;
}
.form-alt label {
    font-weight: 600;
    line-height: 1.8;
}

/* Buttons Set */
.form-alt .button {
    .btn-general();
}